:root {
    --green: #1DB954;
    --matte-black: #343434;
    --white: #FAF9F6;
    --black: #28282b;
    --grey: #36454F;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


/* NAVBAR */
.navbar {
    background-color: var(--green);
    height: 10vh;
}

.navbar h2 {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    color: var(--black);
    margin-right: 700px !important;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 2px;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: var(--white) !important;
}

.nav-icon {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}
.navbar a:visited {
    color: var(--white);
}

.navbar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

li {
    list-style-type: none;
    font-size: 1em;
}

/* END NAVBAR */